---
layout: default
title: About
pageTitle: about
image: "/assets/images/metro1.jpg"
socialHeader: false
permalink: /about/
---

{% include teaser.html%}
<header class="blog-header">
    {% if site.logo %}
        <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')"></a>
    {% endif %}
    <h1 class="blog-title">{% if page.title %}{{ page.title }}{% else %}{{site.title}}}{% endif %}</h1>
    <h2 class="blog-description">"{{ site.tagline }}"</h2>
    {% include socialnav.html %}
</header>

<main class="content" role="main">
    <h2>I Am</h2>
    <div class="container-top">

        <div class="about-pic">
            <img class="circular" src="https://s.gravatar.com/avatar/a8002a37119322b475cbf5a10beae6e0?s=200" align="" style="z-index: 5;position: relative;">
        </div>
        <div class="about-content">

            <p>
                A Software Developer, Gamer and Maker. I was born and raised in Western Massachusetts. I attended <a href="http://champlain.edu">Champlain College</a> in Burlington VT where I graduated in 2012 with a Bachelor of Science in Game Programming. I have been doing this software development thing now for seven years.
            </p>
        </div>
        <div>
            <p>
                When I'm not at work I can be found working on side projects. Outside of programming I love to enjoy a good beer and catch a game of hockey on the TV. If I'm not watching hockey or tinkering with a side project I'm likely gaming: FPS, Strategy, or even just a casual Puzzler, I enjoy them all.
            </P>
            <p>
                I am passionate about my craft and put pride into the work I do.
                I strive to do the best job I can and make sure that what I deliver is of high quality.
                This is why I feel I can pick up new technologies quickly and "ship it" quick.
            </P>
        </div>
    </div>
    <div class="container-bottom">
        <div class="about-subcontent">
            <h2>Facts</h2>
            <ul>
                <li>I studied abroad in Montreal, Quebec.</li>
                <li>I will read a lot of useless articles and retain knowledge about things most shoudln't.</li>
                <li>I've never broken a bone.</li>
                <li>I used to wear shorts and walk to class...in the middle of winter....in Vermont.</li>
                <li>I can grow a great beard (if I do say so my self) but I can't grow hair on the top of my head.</li>
                <li>I've tried learning French but I would say it has been a failure. Je suis un annanas.</li>
                <li>I will travel Europe someday.</li>
                <li>I live off caffeine.</li>
            </ul>
            <h2>Skills*</h2>
            <div class="skills">
                <div class="vertical-hr">&nbsp;</div>
                <ul class="graph">
                    <li class="percent-85"><div>C# - 85%</div></li>
                    <li class="percent-75"><div>Javascript - 75%</div></li>
                    <li class="percent-80"><div>CSS - 80%</div></li>
                    <li class="percent-75"><div>SQL - 75%</div></li>
                    <li class="percent-100"><div>Beer drinking - 100%</div></li>
                </ul>
            </div>
            <label class="graph-disclaimer" style="font-size:12px;">*Measured in beard length (flucuates based on the season)</label>
        </div>
    </div>
</main>