---
layout: default
image: "/assets/images/homepageCover.jpg"
title: "Hey, I'm Corey Weiner"
pageTitle: home
---
{% include teaser.html %}
<header class="home-header">
    {% if site.logo %}
    <a class="home-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')"></a>
    {% endif %}
    <h1 class="home-title">{% if page.title %}{{ page.title }}{% else %}{{site.title}}}{% endif %}</h1>
    <h2 class="home-description">"{{ site.tagline }}"</h2>
    {% include socialnav.html %}
    <div class="home-subdescription">
        {Software Developer, Gamer & Maker}
    </div>
    {% include sitemenu.html %}
</header>