---
layout: default
title: Home
image: "/assets/images/homepageCover.jpg"
---
<header class="clean" style="width:100%;height:100%;" data-stellar-horizontal-offset="50" data-stellar-background-ratio="0.5">
	<div class="homepage-fullscreen-image"style="background-image: url({% if page.image %}{{ page.image }}{% else %}{{ site.cover }}{% endif %})" ></div>
	{% include top.html %}
	<div class="homepage-container">
		<div class='alignCenter' data-stellar-ratio="0.5">
			<h1 class="homepage-quote">"The world is full of 0's and 1's."</h1>
			<div class="homepage-image" style="background-image: url({{ site.icon }});">
				<a href="{{ site.url }}"></a>
			</div>
			<h2 class='homepage-name'>Hey, I'm Corey Weiner</h2>
			<div class="homepage-credit">〈 <a class="scroll" href="#about" data-speed="600">Software Developer, Gamer & Maker</a> 〉</div>
		</div>
	</div>
	{% include copyright.html %}
</header>
{% include homepage-about.html %}
{% include homepage-contact.html %}
<script src="/assets/js/smooth-scroll.js"></script>